@font-face {
  font-family: "Vazir-Medium-FD";
  src: url("Vazir-Medium-FD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Light-FD";
  src: url("Vazir-Light-FD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansXFaNum-Bold";
  src: url("IRANSansXFaNum-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "IRANSansXFaNum-Regular";
  src: url("IRANSansXFaNum-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
    font-family: "Vazir-Medium-FD";
}