#tradingview_f8afc {
    font-size: 5px;
    font-family: "Vazir-Medium-FD";
}
#tv-chart {
    font-size: 5px;
    font-family: "Vazir-Medium-FD";
}
iframe{
    font-size: 5px;
    font-family: "Vazir-Medium-FD";
}
div{
    font-size: 5px;
    font-family: "Vazir-Medium-FD";
}
html{
    font-size: 5px;
    font-family: "Vazir-Medium-FD";
}